/* sanitizeしてからじゃないとこのcssが役に立たないので、そのような依存関係を設定する時はcssで直接読みでやる　*/
@import url(sanitize.css);

h1 {
    font-size: 24px;
    margin: 0;
}

.content {
    background-color: #fcc;
    width: 600px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    padding: 30px;
}